@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
html, body{
  overflow-x:hidden;
  overflow-y:hidden;
}

#Vector_46{
  visibility: hidden;
}
body{
  position:relative;
background-color:rgb(48, 46, 46);
background-image: "" ;
background-size:cover;
background-position: center;
background-repeat: no-repeat;
}
.app{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
.card{

  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  height:100vh;
  width:100wh;

}


.card button {
  height:30px;
  width:30px;
  visibility: hidden;
  position: absolute;
  top:30%;
  background-color: white;
  transition: transform 0.3s linear;
  border: none;
}
.card button:hover {
  transform:scale(1.5);
  box-shadow: 5px 5px 5px grey;
 
}

@keyframes glow{
  0% {
    text-shadow:0px;
   /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
*/
  }
  100%{
    text-shadow: 5px 5px 5px black, 0 0 30px black;
  }
}
h1{
  position: absolute;
  top:0%;
color:"";
font-size:70px;
font-family: '';
text-shadow: 1px 1px hsl(50, 50%, 45%),
               2px 2px hsl(50, 50%, 40%),
               3px 3px hsl(50, 50%, 35%),
               4px 4px hsl(50, 50%, 34%),
              
               10px 10px 30px rgba(0,0,0,.7);
               animation: glow 0.5s linear infinite;             
}

h2{
  position: absolute;
  top:15%;
  color:white;
  font-size:50px;
  visibility: hidden;
  text-shadow: 3px 3px 3px white;
  
}
h3{
  position: absolute;
  top:15%;
  color:white;
  margin-top:20px;
  margin-bottom: 20px;
  font-size:30px;
  font-family: '';
  visibility: visible;
  text-shadow: 3px 3px 3px white;
  
  text-transform: uppercase;
  
}
#star1,#start3{
  position: absolute;
  animation:move-eye-skew 1s ease infinite;;
  top:5%;
  visibility: hidden;
}
#star2,#smalstar2,#smalstar4{
  animation:move-eye-skew 0.5s ease infinite;
  visibility:hidden;
}
#smalstar1,#smalstar3{
  animation:move-eye-skew 0.8s ease infinite;
  visibility:hidden;
}


#ball-container{
  height:500px;
  margin-top:70px;
  pointer-events: ''; 
}


@media screen and (max-width:700px){
  
  #ball-container{
    padding:50px;
   
  }

  h1{
    margin:20px;
    font-size:30px;
    text-shadow: 1px 1px hsl(50, 50%, 45%),
               2px 2px hsl(50, 50%, 40%),
               3px 3px hsl(50, 50%, 35%),
               4px 4px hsl(50, 50%, 34%),
               5px 5px hsl(50, 50%, 33%),
               6px 6px hsl(50, 50%, 32%),
               7px 7px hsl(50, 50%, 31%),
               8px 8px hsl(50, 50%, 30%),
               9px 9px hsl(50, 50%, 29%),
               10px 10px hsl(50, 50%, 28%),
               10px 10px 30px rgba(0,0,0,.7);
  }
  
  h3{
    text-align:center;
  font-size:20px;
  
  }
}
@media screen and (max-width:300px){
  h1{
    text-align:center;
    margin:20px;
    font-size:25px; 
  }
 h2{
  text-align:center;
    font-size:30px;
  }
 
}
.hide{
  visibility: hidden;
  z-index:5;
  pointer-events: visible;
}


image {
  opacity:1;
  background-size:100px;
  border-radius: 50%;
}
#mainball {
  transform-origin: center;
  transform-box:fill-box;
  animation: move-eye-skew 1s infinite;
  visibility:visible;
  
 
 
  
}
#mainball:hover{
  animation: '';
}
#imageball {
 visibility: hidden;
  background-size: cover;
  z-index:2;
 /* background-repeat: no-repeat;*/
  
}
#innerball, #outerball{
  visibility: hidden;
  
}
#innerball{
  fill:rgb(167, 206, 228); ;
}
/*#ball{
  stroke: rgb(168, 158, 158);
  stroke-width: 20;
  stroke-opacity: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
 
 
}*/
@keyframes rotate{
  0%{
    transform: rotate(0deg)
  
   
   
  }
  100%{
    transform: rotate(360deg)
 
  }
}
@keyframes move-eye-skew {
  0% {
   
   
   transform: scale(1);
  }
  
   100% {
    
    
    transform: scale(1.001);
  }
}

